@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Orbitron:700);

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  font-family: 'Open Sans', 'sans-serif';
  font-size: 16px;
  margin-bottom: 70px;
  padding-top: 30px;
  color: #666666;
}

:root {
/*
  --main-color: #ff1a1a;
*/
  --main-color: #0E80C4;
}

.jumbotron p {
  vertical-align: middle;
}

.jumbotron a.btn {
  border: none;
  background-color: rgba(0,0,0,0.15);
  color: #fff;
  padding: 20px 25px 20px 25px;
  margin: 15px 10px 0 10px;
  text-transform: uppercase;
}

.jumbotron a.btn:hover {
  background-color: rgba(0,0,0,0.25);
  color: #fff;
}

.newsbar {
    color: #3A3A3A;
    background-color: #F0F0F0;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.newsbar a {
    color: #666666;
    text-decoration: none;
}

.newsbar a:hover,
.newsbar a:focus {
  text-decoration: none;
  color: #9D9D9D;
  background-color: transparent
}

.newsbar p {
    margin-bottom: 5px;
    font-size: 21px;
    font-weight: 200;
    text-align: center;
    color: #666666;
}

.newsbar>hr {
    border-top-color: #d5d5d5
}

.container .newsbar,
.container-fluid .newsbar {
    border-radius: 6px;
    padding-left: 15px;
    padding-right: 15px
}

.newsbar .container {
    max-width: 100%
}

.fa-color {
  color: var(--main-color);
}

.footer {
  position: absolute;
  bottom: 0;
  //margin-top: 3rem;
  width: 100%;
  text-align: left;
  //margin-top: 20px;
  //padding-bottom: 1rem;
  //padding-top: 1rem;
  background-color: #222222;
  color: #9D9D9D;
  vertical-align: middle;
} 

.footer-left {
  vertical-align: middle;
  float: left;
  text-align: left;
}

.footer-left a{
  text-decoration: none;
  color: #0F74BA
}

.footer-left a:hover,
.footer-left a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: transparent
}

.footer-right {
  vertical-align: middle;
  float: right;
  text-align: right;
}

.footer-right a{
  text-decoration: none;
  color: #9D9D9D
}

.footer-right a:hover,
.footer-right a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: transparent
}

body > .container {
  padding: 75px 15px 0;
}

.navbar-left {
  font-size: 34px;
  color: #9D9D9D
}

.navbar-left img{
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  padding-left: 5px;
}

.navbar-left a{
  text-decoration: none;
  color: #9D9D9D
}

.navbar-left a:hover,
.navbar-left a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: transparent
}

.navbar-right {
  font-size: 16px;
}

.left-nav-con {
  padding-top: 25px;
}
.left-nav-con ul.sub-menu li.main-menu-item {
  margin-bottom: 15px;
}
.left-nav-con ul.sub-menu li .main-menu-item-title {
  font-size: 18px;
  color: inherit;
}
.left-nav-con ul.sub-menu li.active a.main-menu-item-title {
  font-weight: bold;
  color: inherit;
}
.left-nav-con ul.sub-menu li ul {
  padding: 2px 0px 20px 0px;
}
.left-nav-con ul.sub-menu li ul li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.left-nav-con ul.sub-menu li ul li.active {
  font-weight: bold;
}

.navbar-brand {
  padding: 20px;
  vertical-align: baseline;;
}

.navbar-brand-img {
  padding: 0;
}

a.navbar-brand-img>img {
  vertical-align: bottom;
  width: 200px;
}

.footer-brand {
  padding: 20px;
  vertical-align: baseline;;
}

.footer-brand-img {
  padding: 0;
}

a.footer-brand-img>img {
  vertical-align: bottom;
  width: 150px;
}

footer .social img {
  width: 32px;
  float: left;
  padding-top: 15px;
  padding-left: 10px;
  height: auto;
}

.community-social img {
  width: 32px;
/*  float: right;*/
  padding-top: 5px;
  padding-left: 5px;
  height: auto;
}

.homepage {
  text-align: center;
  padding: 25px 40px 25px 40px;
  font-size: 15px;
  color: #666;
}

.homepage-img {
  vertical-align: bottom;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.homepage i {
  margin-right: 8px;
}

.homepage p,
.homepage h2 {
  text-align: justify;
}

.homepage h2 {
  margin-bottom: 30px;
}

.homepage-open p,
.homepage-open h3,
.homepage-open h4,
.homepage-open h1 {
  text-align: center;
}

.promo-info {
  text-align: left;
}

.promo-info p {
  text-align: left;
  font-size: 17px;
  color: #666;
}

.promo-info h1 {
  margin-top: 0px;
  color: #666;
  padding-bottom: 10px;
}

.promo-btn {
  text-align: right;
}

.promo-btn .btn {
    border: none;
    background-color: #0E6395;
    color: #fff;
    padding: 20px 25px 20px 25px;
    margin: 25px 10px 0 10px;
    text-transform: uppercase;
}

.dark-bg {
  background: #F0F0F0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.table thead tr th {
  background: #0F75BC;
  color: #fff;
  text-align: center;
  border: none;
}

.table tr td {
  border: none;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.margin-10{margin-bottom:10px; margin-right:10px;}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

p {
  text-align: justify;
}

/* Responsive video? */
iframe {
  max-width: 100%;
}

/* Popover */
.modal.ng-enter {
  transition: opacity 1.5s ease-out;
  opacity: 0;
}
.modal.ng-enter.ng-enter-active {
  opacity: 1;
}
.modal.ng-leave {
  transition: opacity 1.5s ease-out;
  opacity: 1;
}
.modal.ng-leave.ng-leave-active {
  opacity: 0;
}

#Email.fieldValid {
  border: 1px solid #00ff00;
}
#Email.fieldInvalid {
  border: 1px solid #ff0000;
