<footer class="footer hidden-print">
  <div class="container">
    <div class="row">
        <div class="col-xs-6">
          <p>&nbsp;A PROJECT BY<a href="http://r3labs.io/" target="_blank">
            <a class="footer-brand-img" href="{{.Site.Params.SponsorURL}}">
              <img alt="{{ .Site.Params.sponsor }}" src="{{ .Site.Params.SponsorImage }}">
            </a>
          </p>
        </div>
        <div class="col-xs-6">
          <p class="social pull-right">
            <a target="_blank" href="https://twitter.com/r3labs"><img alt="Twitter" src="/img/social/twitter.png"/></a>
            <a target="_blank" href="/slack"><img alt="Slack" src="/img/social/slack.png"/></a>
            <a target="_blank" href="https://github.com/r3labs"><img alt="GitHub" src="/img/social/github_light.png"/></i></a>
            <a target="_blank" href="https://groups.google.com/forum/#!forum/ernestio"><img alt="Google" src="/img/social/google.png"/></a>
            <a target="_blank" href="https://www.facebook.com/r3labsio/"><img alt="Facebook" src="/img/social/facebook.png"/></i></a>
          </p>
        </div>
    </div>
  </div>
</footer>
